<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Traffic List by view</title>
</head>
{% block content %}
  <h1>Traffic List</h1>
  {% if traffic_list %}
  <ul>
    {% for traffic in traffic_list %}
      <li>
        <a href="{% url 'airport:traffic-detail' traffic.pk %}">{{ traffic.TERMINAL }} {{traffic.ARRIVAL_DEPARTURE}}</a>
      </li>
    {% endfor %}
    {{some_data}}
  </ul>
  {% else %}
    <p>There are no traffics in the library.</p>
  {% endif %}
{% endblock %}